body{background-color: black;}


         h1{color: aliceblue;
            position: relative;
        text-align: center;
    font-size: 50px;
bottom: -100px;}

        h2{color: aliceblue;
        text-align: center;
        position: relative;
    bottom: -200px;}

       

        footer img{width:60px;position:relative;bottom: -400px;
            text-align: center;left: 630px;}

            h3{font-size: 40px;
            position: relative;
        color: white;
    text-align: center;
top: 200px;}



nav{color: rgb(255, 255, 255); font-size: 20px;position: relative;left: 400px;}

