body{background-color: black;}

.container{color: aliceblue;background-color: darkorange;
top: 100%;}
 
h1{color: aliceblue;}

    .botao1{color: rgb(255, 255, 255);
        position:relative; 
        left: 50px;
            bottom: -400px;
            text-align:left;
            font-size: 30px;}

     .botao2{color: rgb(255, 255, 255);
        position:relative; 
        left: 50px;
            bottom: -400px;
            text-align:left;
            font-size: 30px;}
         .botao3{color: rgb(255, 255, 255);
            position:relative; 
            bottom: -314px;
            right:-300px;
            text-align:left;
            font-size: 30px;}

        .botao4{color: rgb(255, 255, 255);
            position:relative; 
            bottom: -314px;
            right:-300px;
            text-align:left;
            font-size: 30px;}

            .botao5{color: rgb(255, 255, 255);
                position:relative; 
                left: 150px;
                    bottom: -330px;
                    text-align:left;
                    font-size: 40px;}

h3{color: aliceblue;
font-size:40px;
position: relative;
top: -100px;
left: 50px;}


.logo2{color: black;
font-size: 50px;
position: relative;
text-align: left;
top: -200px;
bottom: 30px;}

    h5{color: chartreuse;width: fit-content;
        position:relative; 
        top:-300px;
        left:50px;
    text-align:left;
font-size: 30px;}

    .icon{font-size: 30px;}
    
   

         footer img{width: 30px;position: relative;bottom: 120px;}

          

