body{background-color: black;}

h1{font-size: 20px;
    text-align: center;
    position: relative;
    right: -30%;
color: white;
width: 800px;
top: -250px;}

.minhafoto{position: relative;
   height: 400px;}

         h3{color: rgb(255, 255, 255);
        text-align: center;
        position: relative;
         bottom: 300px;
        font-size: 50px;
       right: -70px;}

    footer img{width: 30px;position:relative;bottom: 100px;
        text-align: center;
    left: 700px;}

